.numBox {
    width: auto;
    max-width: 80%;
    margin: 0 auto;
    font-size: 3rem; 
    font-weight: bold;
    padding: 20px 0;
}
/* Adds to the .numBox when of a certain string length. */
.textBox {
    margin-left: -30px;
}

details li {
    margin-bottom: 0.5rem; 
}

label {
    margin-left: 0.5rem;
}

input {
    max-width: 89%;
}
/* keeps input same size as switch and gen buttons, switchButton doesnt reduce when text changes */
#input {
    max-width: 100%;
    width: 346px;
    resize: none;
    overflow: hidden;
}

#ansButton {
    max-width: 100%;
    width: 346px;
}

#genButton {
    max-width: 100%;
    width: 346px;
    margin-top: 5px;
}

#switchButton {
    min-width: 155px; 
  }

#ordButton {
    min-width: 187px;
}

